
div {
    border-color: blue;
    border-style: solid;
    width: 350px;
    height: auto;
    padding: 25px; /*Padding is used to create space around and element's content, inside of any defined borders.*/

}

img {
    border-style: solid;
    border-radius: 50px;
}

li {
    margin: 10px;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2015/01/07/16/37/wood-591631_960_720.jpg')
}

h1, h2, h6 {
    font: sans-serif;
    color: cornsilk;
}
© 2022 GitHub, Inc.
Terms
Privacy
