
div {
    border-color: blue;
    border-style: solid;
    width: 350px;
    height: auto;
    padding: 25px; /*Padding is used to create space around and element's content, inside of any defined borders.*/
    background-color: cornsilk;
    box-shadow: 5px 10px;
    display: flex;
    align-items: center;

}

img {
    border-style: solid;
    border-radius: 50px;
}

li {
    margin: 10px;
    font-style: italics;
}

body {
    background-image: url('https://images.unsplash.com/photo-1560355199-fd9bcd557052?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1068&q=80')
}

h1, h2, h6 {
    font: sans-serif;
    color: black;
}
© 2022 GitHub, Inc.
Terms
Privacy
