
div {
    border-color: blue;
    border-style: solid;
    width: 350px;
    height: auto;
    padding: 25px; /*Padding is used to create space around and element's content, inside of any defined borders.*/
    background-color: cornsilk;
    box-shadow: 5px 10px;
    margin: auto;
  }

img {
    border-style: solid;
    border-radius: 50px;
}

li {
    margin: 10px;
    font-style: italic;
}

body {
    background-image: url('https://background-tiles.com/overview/blue/patterns/large/1061.png')
}

h1 {
    font: sans-serif;
    color: black;
}

© 2022 GitHub, Inc.
Terms
Privacy
